<!DOCTYPE html>

<html lang="en">



<head>

    <meta charset="utf-8">

    <title>Eugene Blum Space</title>

    <meta name="description" content="Eugene Blum Space">

    <meta name="keywords" content="Eugene Blum,eugeneblum,EugeneBlum">

    <meta name="author" content="Eugene Blum">

    <meta name="HandheldFriendly" content="true">

    <meta name="MobileOptimized" content="320">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link href="css/reset-css.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="Content/bootstrap.css" rel="stylesheet" />

    <link href="css/input-style.css" rel="stylesheet" />

    <link href="css/bootstrap-social.css" rel="stylesheet" />

    <link href="Content/font-awesome.min.css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />

    <link href="css/style.css" rel="stylesheet" />

    <link href="css/encription.css" rel="stylesheet" />





    <script>var __adobewebfontsappname__ = "dreamweaver"</script>

    <script src="https://use.edgefonts.net/actor:n4:default;alfa-slab-one:n4:default.js" type="text/javascript"></script>

</head>





<body data-spy="scroll" data-target="#my-navbar">



    <!-- Navbar -->

    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                </button>



                <a href="" class="navbar-brand" id="mybrand">EugeneBlum</a>

            </div><!-- Navbar Header-->

            <div class="collapse navbar-collapse" id="navbar-collapse">



                <a href="setup.exe" download="AwesomeWebBrowser.exe" class="btn btn-warning navbar-btn navbar-right visible-lg">Download Now</a>



                <ul class="nav navbar-nav">

                    <li class="active"><a href="#lead" id="a_lead"><i class="fa fa-home"></i> Home</a></li>

                    <li><a href="#feedback" id="a_feedback"><i class="fa fa-comments"></i> Feedback</a></li>

                    <li><a href="#myskills" id="a_myskills"><i class="fa fa-database"></i> My Skills</a></li>

                    <li><a href="#gallery" id="a_gallery"><i class="fa fa-eye"></i> Gallery</a></li>

                    <li><a href="#features" id="a_features"><i class="fa fa-rocket"></i> Features</a></li>

                    <li><a href="#faq" id="a_faq"><i class="fa fa-venus-mars"></i> Faq</a></li>

                    

                    <li class="dropdown" id="navbarDropdown">

                        <a href="#contact" id="a_contact" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-heartbeat"></i> ContactMe <span class="caret"></span></a>

                        <ul class="dropdown-menu">

                            <li><a href="#subscription" id="a_subscription"><i class="fa fa-plug"></i> Subscription</a></li>                            

                        </ul>

                    </li>                    

                </ul>

            </div>

        </div><!-- End Container-->

    </nav><!-- End navbar -->

    <!-- jumbotron-->

    <div class="jumbotron" id="lead">

        <div class="container text-center">

            <div class="neon">EUGENE BLUM</div>

            <div class="flux">INSPIRATION WITH CODE</div>

        </div><!-- End container -->

    </div><!-- End jumbotron-->

    

        <!--Preambula-->

        <div class="container well well-lg">

            <p class="lead">

                Yeah well, that's just, ya know, like, your opinion, man. Walter, you can't do that.

                These guys're like me, they're pacifists. Smokey was a conscientious objector. Your "revolution" is over,

                Mr. Lebowski! Condolences! The bums lost! Brandt can't watch though. Or he has to pay a hundred.

                HERE'S WHAT HAPPENS, LARRY! Darkness warshed over the Dude — darker'n a black steer's tookus on a moonless

                prairie night. There was no bottom.

            </p>



            <div class="well text-center">

                <div class="btn-group" id="my-btn-group-responsive">

                    <a href="setup.exe" download="AwesomeWebBrowser.exe" class="btn btn-lg btn-warning"><font size="4">Download App</font></a>

                    <a href="coffee" target="_blank" class="btn btn-lg btn-default"><font size="4">WheresMyCoffeee?</font></a>

                    <a href="https://thechurchofthelatterdaydude.com/lebowski-ipsum/" target="_blank" class="btn btn-lg btn-warning"><font size="4">Spread the word</font></a>

                </div>

            </div>

        </div><!--End Preambula-->



        <!-- Feedback-->

        <div class="container" id="feedback">

            <section>

                <div class="page-header">

                    <h2>My Feedbacks</h2>

                </div>



                <div class="row">

                    <div class="col-md-4">

                        <blockquote>

                            <p>

                                Here's the name and number of a doctor who will look at it for you. You will receive no bill.

                                He's a good man. And thorough. Nice marmot. You don't go out and make a living dressed like that

                                in the middle of a weekday. Do you have any kalhua? Near the In-and-Out Burger. Nihilists! Jesus.

                                Yes sir. It is our most modestly priced receptacle. Sir, this is a mortuary, not a rental house.

                            </p>

                            <p>&mdash; Jeffrey Lebowski - The Dude</p>

                        </blockquote>

                    </div>

                    <div class="col-md-4">

                        <blockquote>

                            <p>

                                Shomer shabbos. No, the, uh, police chief of Malibu. A real reactionary. Eight-year-olds, Dude.

                                I'm unemployed. Dieter has been on the fringes of — well, of everything in L.A., for about twenty

                                years. Look at my LP's. Under 'Autobahn'. Another Caucasian, Gary. Yeah man. Well, you know,

                                the Dude abides. Ahh, you know. Strikes and gutters, ups and downs. The nail polish, Walter.

                                A fifteen-year-old? Is this your idea of a joke?

                            </p>

                            <p>&mdash; Walter Sobchak</p>

                        </blockquote>

                    </div>

                    <div class="col-md-4">

                        <blockquote>

                            <p>

                                Mr. Lebowski asked me to repeat that: Her life is in your hands. They're nihilists.

                                Now this story I'm about to unfold took place back in the early nineties — just about the time

                                of our conflict with Sad'm and the Eye-rackies. I only mention it 'cause some - times there's

                                a man — I won't say a hee-ro, 'cause what's a hee-ro? — but sometimes there's a man. Our basic

                                freedoms.

                            </p>

                            <p>&mdash; Maude Lebowski</p>

                        </blockquote>

                    </div>

                </div><!-- End row -->

            </section>

        </div><!--End Container-->

        <!-- Skills -->

    <div id="myskills">

        <section>

            <div class="well">

                <div class="container text-center">

                    <div class="page-header">

                        <h2>My Incredible Skills</h2>

                        <h3><small>Enter Skills Here</small></h3>

                    </div>



                    <form class="form-inline">

                        <div class="form-group" id="skills-form">

                            <div class="container skills-container">

                                <div class="input-group input-group">

                                    <span class="input-group-addon" id="sizing-addon1">

                                        <span class="glyphicon glyphicon-briefcase"></span>

                                    </span>

                                    <input type="text" class="form-control" id="skills" name="skills"

                                           placeholder="my skills" aria-describedby="sizing-addon1">

                                    <span class="input-group-btn">

                                        <button type="submit" class="btn btn-warning" id="addbutton"

                                                onclick="addSkills(); return false;">

                                            Add Skills

                                        </button>

                                    </span>

                                </div>

                            </div>

                        </div>



                        <hr>



                        <div id="skillsList">

                            <div class="row">

                                <div class="col-md-offset-4 col-md-4">

                                    <ul class="list-group list-unstyled" id="list"></ul>

                                </div>

                            </div>

                        </div>

                    </form>





                </div><!-- end Container-->



            </div><!-- end well-->

        </section><!-- Call to action -->

    </div>

        <!-- Gallery -->

        <div class="container text-center" id="gallery">

            <section>

                <div class="page-header">

                    <h2>Gallery</h2>

                    <h3><small> Check Out My Awesome Gallery</small></h3>

                </div>



                <div class="row">

                    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                        <div class="carousel slide" id="screenshot-carousel" data-ride="carousel" data-interval="10000">

                            <ol class="carousel-indicators hidden-xs">

                                <li data-target="#screenshot-carousel" data-slide-to="0" class="active"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="1"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="2"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="3"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="4"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="5"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="6"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="7"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="8"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="9"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="10"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="11"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="12"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="13"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="14"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="15"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="16"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="17"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="18"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="19"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="20"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="21"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="22"></li>

                                <li data-target="#screenshot-carousel" data-slide-to="23"></li>

                            </ol>



                            <div class="carousel-inner">

                                <div class="item active">

                                    <img src="img/12.jpg" alt="ATMOSPHERE" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>ATMOSPHERE</h4>

                                        <p>Unreal World</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/123.jpg" alt="SONGS OF SOLOMON" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>SONGS OF SOLOMON</h4>

                                        <p>Fish In The Mirror</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/4f20.jpg" alt="BENCHMARK" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>BENCHMARK</h4>

                                        <p>Complicated Choice</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/56f2a.jpg" alt="CERES" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>CERES</h4>

                                        <p>Asteroid Belt</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/8173248.jpg" alt="FRUITS" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>FRUITS</h4>

                                        <p>Visual Arts</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/96bd.jpg" alt="CLOUDS" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>CLOUDS</h4>

                                        <p>Wish To Be Here</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/acf_cropped.jpg" alt="WEATHER" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>WEATHER</h4>

                                        <p>Sky And Stones</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/bahamas.jpg" alt="VIRGIN ISLANDS" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>VIRGIN ISLANDS</h4>

                                        <p>Trunk Bay</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/carousel-1.jpg" alt="BOWLING" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>BOWLING</h4>

                                        <p>Ten Pin Bowling</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/carousel-4.jpg" alt="DUBAI, UAE" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>DUBAI, UAE</h4>

                                        <p>Al Nasr Leisureland</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/carousel-3.jpg" alt="WOOL" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>WOOL</h4>

                                        <p>Wool Rug</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/cropskyline.jpg" alt="ROTTERDAM" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>ROTTERDAM</h4>

                                        <p>Erasmus Bridge</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/hubsan.jpg" alt="DRONE" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>DRONE</h4>

                                        <p>Hubsan X4 H107C</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/IMG_5577.jpg" alt="OIL" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>OIL</h4>

                                        <p>Desert</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/luminous.jpg" alt="ABSTRACT ART" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>ABSTRACT ART</h4>

                                        <p>Color Luminous</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/meditation.jpg" alt="MORNING YOGA" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>MORNING YOGA</h4>

                                        <p>Meditation</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/ring.jpg" alt="RING" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>RING</h4>

                                        <p>Baphomet</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/snapwire.jpg" alt="Sunset" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>SUNSET</h4>

                                        <p>Broken Heart</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/street.jpg" alt="CITY" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>CITY</h4>

                                        <p>Street</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/tumbl1280.jpg" alt="ARIZONA" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>ARIZONA</h4>

                                        <p>Horseshoe Bend</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/vendee.jpg" alt="VENDEE GLOBE" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>VENDEE GLOBE</h4>

                                        <p>Alone In The World</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/warm.jpg" alt="ABSTRACT ART" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>ABSTRACT ART</h4>

                                        <p>Warm Colors</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/wedding.jpg" alt="WEDDING" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>WEDDING</h4>

                                        <p>Sweet Kiss</p>

                                    </div>

                                </div>

                                <div class="item">

                                    <img src="img/whiteRose1.jpg" alt="WHITE ROSE" class="img-responsive">

                                    <div class="carousel-caption hidden-xs">

                                        <h4>WHITE ROSE</h4>

                                        <p>The End Of The Gallery</p>

                                    </div>

                                </div>

                            </div> <!-- End Carousel inner -->

                            <a href="#screenshot-carousel" class="left carousel-control" data-slide="prev">

                                <span class="glyphicon glyphicon-chevron-left"></span>

                            </a>

                            <a href="#screenshot-carousel" class="right carousel-control" data-slide="next">

                                <span class="glyphicon glyphicon-chevron-right"></span>

                            </a>

                        </div> <!-- End Carousel -->

                    </div>

                </div> <!-- End Row -->

            </section>

        </div> <!-- End Container -->

        <!-- features -->

        <div class="container text-center" id="features">

            <section>

                <div class="page-header">

                    <h2>Features</h2>

                    <h3><small>Some of the coolest Features</small></h3>

                </div><!-- End Page Header -->



                <div class="row well mywell1">

                    <div class="col-sm-8">

                        <h3>Download My AwesomeWebBrowser</h3>

                        <div class="well">

                            <p>

                                One a those days, huh. Wal, a wiser fella than m'self once said, sometimes you eat the bar and

                                sometimes the bar, wal, he eats you. 1972 Pontiac LeBaron. It increases the chances of conception.

                                Walter, this isn't a First Amendment thing. But that is up to little Larry here. Isn't it, Larry?

                                And I'm talkin' about the Dude here — sometimes there's a man who, wal, he's the man for his time'n

                                place, he fits right in there — and that's the Dude, in Los Angeles.

                                Lebowski ipsum when will you find these guys? I mean, do you have any promising leads? Yeah, well,

                                right man, there are many facets to this, uh, you know, many interested parties. If I can find your

                                money, man — what's in it for the Dude? This compulsive fornicator is taking my father for the

                                proverbial ride. Every time a rug is micturated upon in this fair city, I have to compensate.

                            </p>

                        </div>

                    </div>

                    <div class="col-sm-4 pull-right myfloater1">

                        <!--<img src="img/MyBrowser-1.jpg" class="img-responsive img-thumbnail vcenter1" alt="my_browser">-->

                        <a href="img/MyBrowser-1.jpg" class="fancybox" title="Download My AwesomeWebBrowser">

                            <img src="img/MyBrowser-1.jpg" class="img-responsive img-thumbnail vcenter1" alt="my_browser">

                        </a>



                    </div>

                </div><!-- End row -->

                <div class="row well">

                    <div class="col-sm-8">

                        <h3>Why AwesomeWebBrowser Is The Best?</h3>

                        <div class="well">

                            <p>

                                You know, little of this, little of that. Do you have any kalhua? I know how he likes to present

                                himself; Father's weakness is vanity. Hence the plot. Please see him, Jeffrey. He's a good man.

                                And thorough. They call Los Angeles the City of Angels. I didn't find it to be that exactly, but

                                I'll allow as there are some nice folks there. 'Course, I can't say I seen London, and I never been

                                to France, and I ain't never seen no queen in her damn undies as the fella says. But I'll tell you

                                what, after seeing Los Angeles and thisahere story I'm about to unfold —wal, I guess I seen

                                somethin' ever' bit as stupefyin' as ya'd see in any a those other places, and in English too, so

                                I can die with a smile on my face without feelin' like the good Lord cheated me.

                            </p>

                        </div>

                    </div>

                    <div class="col-sm-4 pull-right myfloater2">

                        <!--<img src="img/imac.jpg" class="img-responsive img-thumbnail vcenter2" alt="my_mac">-->

                        <a href="img/imac.jpg" class="fancybox" title="Why AwesomeWebBrowser Is The Best?">

                            <img src="img/imac.jpg" class="img-responsive img-thumbnail vcenter2" alt="my_mac">

                        </a>

                    </div>

                </div>

                <div class="row well mywell3">

                    <div class="col-sm-8">

                        <h3>Now On All Mobil Devices</h3>

                        <div class="well">

                            <p>

                                One a those days, huh. Wal, a wiser fella than m'self once said, sometimes you eat the bar and

                                sometimes the bar, wal, he eats you. That wasn't her toe. Hello. Nein dizbatcher says zere iss

                                problem mit deine kable. Dude, please!… Is this your homework, Larry? Yeah. Roadie for Metallica.

                                Speed of Sound Tour. You want a toe? I can get you a toe, believe me. There are ways, Dude. You

                                don't wanna know about it, believe me. Shomer shabbos. Ja, vee could really do it, Lebowski. We

                                want that money, Lebowski. I spent most of my time occupying various, um, administration buildings,

                                smoking thai-stick, breaking into the ROTC and bowling. These men are nihilists, Donny, nothing to

                                be afraid of. Uh, yeah. Probably a vagrant, slept in the car. Or perhaps just used it as a toilet,

                                and moved on. Stay out of Malibu, deadbeat!

                                They were Nazis, Dude? I'll get you a toe by this afternoon — with nail polish. Chinaman is not

                                the preferred nomenclature. Asian-American. Please. Near the In-and-Out Burger. Ja, your viggly

                                piece, Lebowski. Yeah man. Well, you know, the Dude abides. Okay. Vee take ze money you haf on you

                                und vee call it eefen. Call the medics, Dude. Your "revolution" is over, Mr. Lebowski! Condolences!

                                The bums lost!

                            </p>

                        </div>

                    </div>

                    <div class="col-sm-4 pull-right myfloater3">

                        <!--<img src="img/user.jpg" class="img-responsive img-thumbnail vcenter3" alt="my_cell_phone">-->

                        <a href="img/user.jpg" class="fancybox" title="Now On All Mobil Devices">

                            <img src="img/user.jpg" class="img-responsive img-thumbnail vcenter3" alt="my_cell_phone">

                        </a>

                    </div>

                </div>



                <!--Enlarge Image Modal Bootstrap-->

                <!--<div class="modal" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal"

                     aria-hidden="true">

                    <div class="modal-dialog modal-lg" role="document">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                    <span aria-hidden="true">x</span>

                                </button>

                            </div>

                            <div class="modal-body">

                                <img src="" class="enlargeImageModalSource" style="width: 100%;" />

                            </div>

                        </div>

                    </div>

                </div>-->

                <!--End Enlarge Image Modal-->



                <hr>



                <div class="row">

                    <div class="col-sm-4">

                        <div class="panel panel-default text-center">

                            <div class="panel-body">

                                <span class="glyphicon glyphicon-ok"></span>

                                <h4><b>This is the Heading</b></h4>

                                <p>

                                    Everyone gets everything he wants. I wanted a mission, and for my sins, they gave me one.

                                    Brought it up to me like room service. It was a real choice mission, and when it was over,

                                    I never wanted another.

                                </p>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="panel panel-default text-center">

                            <div class="panel-body">

                                <span class="glyphicon glyphicon-star"></span>

                                <h4><b>This is the Heading</b></h4>

                                <p>

                                    No wonder Kurtz put a weed up Command's ass. The war was being run by a bunch of four star

                                    clowns who were gonna end up giving the whole circus away.<br><br>

                                </p>

                            </div>

                        </div>

                    </div>



                    <div class="col-sm-4">

                        <div class="panel panel-default text-center">

                            <div class="panel-body">

                                <span class="glyphicon glyphicon-play-circle"></span>

                                <h4><b>This is the Heading</b></h4>

                                <p>

                                    I watched a snail crawl along the edge of a straight razor. That's my dream; that's my nightmare.

                                    Crawling, slithering, along the edge of a straight razor... and surviving.<br><br />

                                </p>

                            </div>

                        </div>

                    </div>

                </div><!-- end row -->



            </section>

        </div><!-- End Container -->

        <!-- Faq -->

        <div class="container text-center" id="faq">

            <section>

                <div class="page-header">

                    <h2>FAQ</h2>

                    <h3><small>Even More About Me</small></h3>

                </div><!-- End Page Header -->



                <div class="panel-group" id="accordion">

                    <div class="panel panel-primary">

                        <div class="panel-heading">

                            <h3 class="panel-title">

                                <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion" onclick="return false;">

                                    What Can You Tell About Yourself?

                                </a>

                            </h3><!-- End panel title -->

                        </div>

                        <div id="collapse-1" class="panel-collapse collapse in">

                            <div class="panel-body">

                                <p>

                                    They're nihilists. Mr. Lebowski is in seclusion in the West Wing. Eight-year-olds, Dude.

                                    But that is up to little Larry here. Isn't it, Larry? I hope you're not avoiding this call

                                    because of the rug, which, I assure you, is not a problem. Who's in pyjamas, Walter? Za, okay,

                                    I bring mein toolz. The Knutsens. It's a wandering daughter job. Bunny Lebowski, man.

                                    Her real name is Fawn Knutsen. Her parents want her back.

                                </p>

                            </div>

                        </div><!-- End Panel collapse -->

                    </div>



                    <div class="panel panel-primary">

                        <div class="panel-heading">

                            <h3 class="panel-title">

                                <a href="#collapse-2" data-toggle="collapse" data-parent="#accordion" onclick="return false;">

                                    Why Should We Hire You?

                                </a>

                            </h3><!-- End panel title -->

                        </div>

                        <div id="collapse-2" class="panel-collapse collapse">

                            <div class="panel-body">

                                <p>

                                    It increases the chances of conception. Would it be possible for me to get my twenty grand

                                    in cash? I gotta check this with my accountant of course. JUST BECAUSE WE'RE BEREAVED DOESN'T

                                    MEAN WE'RE SAPS! Forget it, Donny. You're out of your element. I have no choice but to tell

                                    these bums that they should do whatever is necessary to recover their money from you,

                                    Jeffrey Lebowski.

                                </p>

                            </div>

                        </div><!-- End Panel collapse -->

                    </div>



                    <div class="panel panel-primary">

                        <div class="panel-heading">

                            <h3 class="panel-title">

                                <a href="#collapse-3" data-toggle="collapse" data-parent="#accordion" onclick="return false;">

                                    Why Are You Looking For Job?

                                </a>

                            </h3><!-- End panel title -->

                        </div>

                        <div id="collapse-3" class="panel-collapse collapse">

                            <div class="panel-body">

                                <p>

                                    I got a nice quiet beach community here, and I aim to keep it nice and quiet. I like your style,

                                    Dude. Nice marmot. Sir, this is a mortuary, not a rental house. Donny was a good bowler, and a

                                    good man. He was… He was one of us. He was a man who loved the outdoors, and bowling, and as a

                                    surfer explored the beaches of southern California from Redondo to Calabassos. And he was an

                                    avid bowler. And a good friend. He died — he died as so many of his generation, before his time.

                                    In your wisdom you took him, Lord. As you took so many bright flowering young men, at Khe San

                                    and Lan Doc.

                                </p>

                            </div>

                        </div><!-- End Panel collapse -->

                    </div>

                </div><!-- End panel group -->

            </section>

        </div><!-- End container -->

        <!-- Contact -->

    <div id="contact" class="container">

        <section>

            <div class=" text-center">

                <div class="page-header">

                    <h2>Contact Me</h2>                    

                </div><!-- End Page Header -->



                <div class="alert alert-warning collapse" id="sentAlert">

                    <a href="#" data-dismiss="alert" class="close">&times;</a>

                    <h1>

                        <img src="img/Warning.png" width="60" height="60" alt="Warning" id="img-warning" />

                        <strong>This Does Not Really Work, It's Not Real!!!</strong>

                    </h1>

                </div>



                <h3><small>Send Me a Message, or Contact Me on the Address Below</small></h3>

                <br />



                <ul class="nav nav-tabs nav-custom nav-justified">

                    <li class="active"><a href="#formTab" id="contactLink" data-toggle="tab" onclick="return false;">Contact Form</a>

                    <li><a href="#addressTab" id="addressLink" data-toggle="tab" onclick="return false;">Address</a>

                </ul>

            </div>



            <div class="tab-content">

                <div class="well tab-pane active" id="formTab">

                    <div class="row">

                        <form method="post" class="form-horizontal" id="contactForm">

                            <div class="form-group">

                                <label for="validate-text" class="control-label col-md-2">Your Name</label>

                                <div class="col-md-9">

                                    <div class="input-group">

                                        <span class="input-group-addon">

                                            <span class="glyphicon glyphicon-user"></span>

                                        </span>

                                        <input type="text" class="form-control" name="validate-text" id="validate-text" required

                                               placeholder="enter your name" title="please enter your name" />

                                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>

                                    </div>

                                </div>

                            </div>



                            <div class="form-group">

                                <label for="validate-email" class="control-label col-md-2">Your Email</label>

                                <div class="col-md-9">

                                    <div class="input-group" data-validate="email">

                                        <span class="input-group-addon">@</span>

                                        <input type="text" class="form-control" name="validate-email" id="validate-email" required

                                               placeholder="enter your email" title="please enter your email" />

                                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>

                                    </div>

                                </div>

                            </div>



                            <div class="form-group">

                                <label for="validate-optional" class="control-label col-md-2">Your Website</label>

                                <div class="col-md-9">

                                    <div class="input-group">

                                        <span class="input-group-addon">http://</span>

                                        <input type="text" class="form-control" name="validate-optional" id="validate-optional"

                                               placeholder="if you have any" />

                                        <span class="input-group-addon info"><span class="glyphicon glyphicon-info-sign"></span></span>

                                    </div>

                                </div>

                            </div>



                            <div class="form-group">

                                <label class="control-label col-md-2">Favorite Movie</label>

                                <div class="dropdown col-md-10">

                                    <div class="btn-group btn-group-sm" data-toggle="buttons">

                                        <label class="btn btn-primary">

                                            <input type="radio">Last Tango in Paris

                                        </label>

                                        <label class="btn btn-primary">

                                            <input type="radio">Natural Born Killers

                                        </label>

                                        <label class="btn btn-primary">

                                            <input type="radio">Forrest Gump

                                        </label>

                                        <label class="btn btn-primary">

                                            <input type="radio">Fight Club

                                        </label>

                                        <label class="btn btn-primary">

                                            <input type="radio">Solaris

                                        </label>

                                        <label class="btn btn-primary">

                                            <input type="radio">Schindler's List

                                        </label>

                                        <label class="btn btn-primary">

                                            <input type="radio">Antichrist

                                        </label>

                                        <div class="btn-group btn-group-sm">

                                            <button class="btn btn-primary" id="btnOther">

                                                Other

                                            </button>

                                            <button class="btn btn-primary" data-toggle="dropdown">

                                                <span class="caret"></span>

                                            </button>

                                            <ul class="dropdown-menu" id="ddlOther" onclick="return false;">

                                                <li>

                                                    <a href="#" tabindex="-1">Twin Peaks</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Dead Man</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Apocalypse Now</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">The Usual Suspects</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Mulholland Drive</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Waking Life</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Before Sunrise</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Stalker</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Pulp Fiction</a>

                                                </li>

                                                <li>

                                                    <a href="#" tabindex="-1">Trainspotting</a>

                                                </li>

                                                <li class="divider"></li>

                                                <li class="disabled">

                                                    <a href="#" tabindex="-1">The Big Lebowski</a>

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            </div>



                            <div class="form-group">

                                <label class="control-label col-md-2">Reason to Contact</label>

                                <div class="col-md-9">

                                    <div class="dropdown" id="ddnReason">

                                        <button class="btn btn-primary" id="pickButton">Pick One...</button>

                                        <button class="btn btn-primary" data-toggle="dropdown">

                                            <span class="caret"></span>

                                        </button>

                                        <ul class="dropdown-menu" id="reasonDropdown" onclick="return false;">

                                            <li>

                                                <a href="#" tabindex="-1">Adoration</a>

                                            </li>

                                            <li>

                                                <a href="#" tabindex="-1">Ordering a White Russian</a>

                                            </li>

                                            <li>

                                                <a href="#" tabindex="-1">Complaint</a>

                                            </li>

                                            <li>

                                                <a href="#" tabindex="-1">I am lost</a>

                                            </li>

                                            <li>

                                                <a href="#" tabindex="-1">I am crazy</a>

                                            </li>

                                            <li>

                                                <a href="#" tabindex="-1">Just boring</a>

                                            </li>

                                        </ul>

                                    </div>

                                </div>

                            </div>

                            <div class="form-group">

                                <label for="validate-length" class="control-label col-md-2">Your Message</label>

                                <div class="col-md-9">

                                    <div class="input-group" data-validate="length" data-length="5">

                                        <textarea class="form-control" name="validate-length" id="validate-length" required

                                                  rows="6" cols="35" placeholder="e.g. The Message" title="R U SURE???"></textarea>

                                        <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>

                                    </div>

                                </div>

                            </div>

                            <div class="form-group">

                                <div class="col-md-9 col-md-offset-2">

                                    <input type="submit" value="Submit" id="formSubmitButton" class="btn btn-warning btn-lg" data-toggle="tooltip"

                                           title="<img src='img/Think-Twice.jpg' class='img-responsive'/>"

                                           data-placement="top" data-html="true"/>

                                </div>

                            </div>

                        </form>



                    </div>

                </div>



                <div class="well tab-pane" id="addressTab">

                    <div class="row">

                        <div class="col-md-3">

                            <h3>My Fake Address</h3>

                            <div>

                                <address>

                                    <strong>Eugene Blum</strong><br>

                                    2764 Arrowhead Drive<br>

                                    Feasterville, PA 19053<br>

                                    <abbr title="Phone">P:</abbr>

                                    +1 267.334.2724

                                </address>

                                <address>

                                    <strong>Job Offers:</strong> <a href="mailto:eugene.blum@gmail.com">eugene.blum@gmail.com</a>

                                </address>

                            </div>

                        </div>

                        <div class="google-map col-md-9">

                            <iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:1px black solid"

                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48784.14770206176!2d-74.95648466775508!3d40.164348178875144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c152db1025851d%3A0x2d5eeea0367f0ec1!2s2764+Arrowhead+Drive%2C+Feasterville-Trevose%2C+PA+19053!5e0!3m2!1sen!2sus!4v1497458866410" allowfullscreen></iframe>

                            <a class="fancybox fancybox.iframe" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48784.14770206176!2d-74.95648466775508!3d40.164348178875144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c152db1025851d%3A0x2d5eeea0367f0ec1!2s2764+Arrowhead+Drive%2C+Feasterville-Trevose%2C+PA+19053!5e0!3m2!1sen!2sus!4v1497458866410">

                                FancyBox

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>





        <div class="modal fade" id="sentDialog" tabindex="-1">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <a href="#" class="close" data-dismiss="modal">&times;</a>

                        <h3>Thanks for clicking!</h3>

                    </div>

                    <div class="modal-body">

                        <p>Unfortunately, this form doesn't send any data :-(((</p>

                    </div>

                    <div class="modal-footer">

                        <a class="btn btn-warning" data-dismiss="modal" id="btnClose" href="#contact">Close</a>

                    </div>

                </div>

            </div>

        </div>



    

        <div id="subscription" class="container container-footer text-center">

            <section>

                <h2>Subscribe for more free stuff</h2>

                <h3>

                    <small>Contact Me For More</small>

                </h3>



                <form class="form-inline">



                    <div class="row row-footer">

                        <div class="col-3 input-effect" id="subName">

                            <input class="form-control effect-23" type="text" id="text_effect" placeholder="">

                            <label>First Name</label>

                            <span class="focus-bg"></span>

                        </div>



                        <div class="col-3 input-effect" id="subEmail">

                            <input class="form-control effect-23" type="email" id="email_effect" placeholder="">

                            <label>Your Email</label>

                            <span class="focus-bg"></span>

                        </div>

                        <br>

                        <div class="col-md-2 col-md-offset-5">

                            <input type="button" class="btn btn-warning" id="btnSubscribe"

                                   onclick="init('Encrypted 👍'); return false;" value="Subscribe" />

                        </div>

                    </div>

                </form>



                <br />

                <div class="row">

                    <div class="encription">

                        <div class="h1"></div>

                    </div>

                </div>

                

                <br>



                <ul class="list-inline">

                    <li>

                        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/eugene-blum-83196b13a/">

                            <span class="fa fa-linkedin"></span>

                        </a>

                    </li>

                    <li>

                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/eugene.blum.3">

                            <span class="fa fa-facebook"></span>

                        </a>

                    </li>

                    <li>

                        <a class="btn btn-social-icon btn-youtube" href="http://www.youtube.com/eugeneblum">

                            <i class="fa fa-lg fa-youtube"></i>

                        </a>

                    </li>

                </ul>

            </section>

</div><!-- end Container-->



    <!-- Footer -->

    <footer class="text-center">

        <p><small>Copyright &copy; 2017 - <a href="#">EugeneBlum</a> | 

            <a href="#lead" id="disclaimer">Disclaimer</a> |

            <a href="#lead" id="privacy">Privacy Policy</a> - 

               <i class="fa fa-recycle"></i> 100% Recyclable</small></p>

    </footer>



    <!-- Scroll to top -->

    <a href="javascript:" id="return-to-top" class="hidden-xs"><i class="fa fa-chevron-up"></i></a>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>

    <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/ydn.db-is-core-qry.js"></script>

    <script type="text/javascript" src="js/script1.js"></script>

    <script type="text/javascript" src="js/site.js"></script>

    <script type="text/javascript" src="js/validation.js"></script>

    <script type="text/javascript" src="js/input-script.js"></script>

    <script src="js/encription.js"></script>

    <script>

        $('.fancybox').fancybox();

    </script>

</body>

</html>