RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://eugeneblum.com/$1 [R,L]

PassengerEnabled on
PassengerAppRoot /home/kazakhco/eugeneblum.com
SetEnv NODE_ENV production
SetEnv NODE_PATH /usr/lib/node_modules